build/
.gradle/
.checkstyle
.settings/
.idea/
lib/*
*.iml
*.log
*.log.*
src/test/data/sandbox/
preferences.json
config.json
.DS_Store
./screenshot*.png
classes/
/data/
/scheduleData
/bin/
src/main/resources/docs/
out/
